{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    <h2>New Post</h2>
     
    <form action="{% url 'createPostModel' %}" method="POST" id = "createPostForm">
        {% csrf_token %}
        <textarea name="postBody" rows="4" cols="50" placeholder="What's on your mind?"></textarea>
        <br>
        <input type="submit" value="Post">
        <input type = "hidden" name = "timeStamp" id = "timeStamp">

    </form>
    {% endblock %}
    {% block extrascripts %}
    <script src="{% static 'network/hand_made.js' %}"></script>
    {% endblock %}
